/*
Transducer Regular Italic
font-family: transducer, sans-serif;
font-weight: 400;
font-style: italic;

Transducer Regular
font-family: transducer, sans-serif;
font-weight: 400;
font-style: normal;

Transducer Bold
font-family: transducer, sans-serif;
font-weight: 600;
font-style: normal;

Transducer Bold Italic
font-family: transducer, sans-serif;
font-weight: 600;
font-style: italic;

Transducer Condensed Regular
font-family: transducer-condensed, sans-serif;
font-weight: 400;
font-style: normal;

Transducer Condensed Regular Italic
font-family: transducer-condensed, sans-serif;
font-weight: 400;
font-style: italic;

Transducer Condensed Bold Italic
font-family: transducer-condensed, sans-serif;
font-weight: 600;
font-style: italic;

Transducer Condensed Bold
font-family: transducer-condensed, sans-serif;
font-weight: 600;
font-style: normal;

Transducer Extended Regular Italic
font-family: transducer-extended, sans-serif;
font-weight: 400;
font-style: italic;

Transducer Extended Regular
font-family: transducer-extended, sans-serif;
font-weight: 400;
font-style: normal;

Transducer Extended Bold Italic
font-family: transducer-extended, sans-serif;
font-weight: 600;
font-style: italic;

Transducer Extended Bold
font-family: transducer-extended, sans-serif;
font-weight: 600;
font-style: normal;
*/

@import url("https://use.typekit.net/erw1wmv.css");
