* {
    font-family: Inconsolata, monospace;
}

body {
    overflow-x: hidden;
}

.text-justify {
    text-align: justify;
}

nav {
    text-transform: lowercase;
}

.navbar-brand {
    font-size: 2rem;
}

.v-line {
    border-right: 1px solid black;
}

#slogan {
    background-image: url(../pics/IMG_20220330_201902_blur_bw_cyan.png);
    background-size: cover;
    text-align: center;
    min-height: calc(100vh);
}

#slogan-text {
    text-shadow: 0 0 15px black;
    width: fit-content;
    padding: 0 2em;
}

#codeLine {
    font-size: 1.5rem;
}

#messages {
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    padding: 0 1em;
    overflow: hidden;
    height: 10rem;
    background-color: #ffffff44;
    border: 2px solid #fff;
}

#main-messages {
    font-size: 6rem;
    line-height: 10rem;
    margin: 0;
    text-align: left;
    list-style: none;
    text-align: center;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 15s;
    animation-iteration-count: infinite;
}

h2 {
    font-size: 6rem;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-90deg);
}

h3 {
    font-size: 3rem;
    text-shadow: 0 0 .5em #fff;
}

p {
    font-size: 1.5rem;
}

.section-header {
    text-transform: uppercase;
    position: relative;
    display: inline-block;
    margin: 0 1rem;
}

#scroll-down {
    opacity: 1;
    -webkit-transition: all 0.5s ease-in 3s;
    transition: all 0.5s ease-in 3s;
}

#scroll-down {
    position: absolute;
    bottom: 30px;
    left: 50%;
    text-align: center;
    display: block;
    width: 40px;
    height: 40px;
    border: 2px solid #fff;
    background-size: 14px auto;
    border-radius: 50%;
    z-index: 2;
    -webkit-animation: bounce 2s infinite 2s;
    animation: bounce 2s infinite 2s;
    -webkit-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
    transform: scale(1);
}

#scroll-down::before {
    position: absolute;
    top: calc(50% - 8px);
    left: calc(50% - 6px);
    transform: rotate(-45deg);
    display: block;
    width: 12px;
    height: 12px;
    content: '';
    border: 2px solid #fff;
    border-width: 0px 0px 2px 2px;
}

#scroll-link {
    visibility: hidden;
    min-height: 40px;
    min-width: 40px;
}

#contact {
    color: #fff;
    background-image: url(../pics/DSC03274_Landscape.png);
    background-size: cover;
}

@keyframes bounce {

    0%,
    100%,
    20%,
    50%,
    80% {
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }

    40% {
        -webkit-transform: translateY(-1em);
        -ms-transform: translateY(-1em);
        transform: translateY(-1em);
    }

    60% {
        -webkit-transform: translateY(-.5em);
        -ms-transform: translateY(-.5em);
        transform: translateY(-.5em);
    }
}

section {
    min-height: calc(85vh);
}

.container-100 {
    width: 100%;
}

.card {
    width: 12rem;
    height: 12rem;
    padding: 0;
    background-color: #ffffff44;
    border: 2px solid #fff;
}

.card-body {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card-body img {
    width: 7rem;
    height: auto;
}

#skills {
    background-image: url(../pics/2022-03-31_blur_bw_cyan.png);
    background-size: cover;
}

.carousel-caption {
    background-color: #00000044;
    border: 2px solid #fff;
}

#socialbar {
    background-color: #ffffff44;
    border: 2px solid #fff;
    margin: 0 2em;
    padding: 1em 0;
}

.socialLink {
    text-shadow: 0 0 0.5em #000;
    font-size: 4rem;
}

footer div p {
    text-align: center;
}

@-webkit-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@-o-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
    }
}


@-moz-keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@keyframes change {
    0%, 12.66%, 100% {
        transform: translate3d(0, 0, 0);
    }

    16.66%, 29.32% {
        transform: translate3d(0, -25%, 0);
    }

    33.32%, 45.98% {
        transform: translate3d(0, -50%, 0);
    }

    49.98%, 62.64% {
        transform: translate3d(0, -75%, 0);
    }

    66.64%, 79.3% {
        transform: translate3d(0, -50%, 0);
    }

    83.3%, 95.96% {
        transform: translate3d(0, -25%, 0);
    }
}

@media only screen and (max-width: 992px) {
    #slogan {
        font-size: 0.66rem;
    }

    #messages {
        height: 8rem;
    }

    #main-messages {
        font-size: 5rem;
        line-height: 8rem;
    }
}

@media only screen and (max-width: 768px) {
    #navbar {
        width: 85%;
    }
    #codeLine {
        font-size: 1rem;
    }

    #messages {
        height: 6rem;
    }

    #main-messages {
        font-size: 4rem;
        line-height: 6rem;
    }
}

@media only screen and (max-width: 576px) {
    #navbar {
        width: 95%;
        justify-content: space-around;
    }
    #codeLine {
        font-size: 0.9rem;
    }

    #messages {
        height: 5rem;
    }

    #main-messages {
        font-size: 3rem;
        line-height: 5rem;
    }
}